* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    border: 2px solid rgba(67, 67, 67, 0.5);
    width: 1200px;
    height: 1600px;
    padding: 50px;
    display: grid;
    grid-template-rows: 2fr repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    border-radius: 30px;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(117, 103, 103);
}
#container > * {
    border-radius: 20px;
    border: 5px solid rgb(0, 0, 0);
}

#display{
    grid-area: 1 / 1 / 2 / 5;
    background-color: bisque;
    margin-bottom: 20px;
    padding: 60px;
}

p {
    text-align: right;
}

#result{
    font-size: 140px;
}


#clear{
    grid-area: 2 / 1 / 3 / 3;
    background-color: pink;
}

#delete{
    grid-area: 2 / 3 / 3 / 5;
    background-color: rgb(134, 225, 255);
}
